<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shoppingcart/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shoppingcart/css/shoppingcart.css') }}"/>
            <script src="{{ asset('bundles/shoppingcart/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/shoppingcart/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
