{% set quantity = cartProduct.quantity %}
{% set totalPrice = cartProduct.totalPrice %}
{% set product = cartProduct.product %}
<div>
    {% if product.isUnitary %}
        {{ quantity }} &times; {{ product.name }} ({{ product.price }}&euro;/ud) = <strong>{{ totalPrice }}&euro;</strong>
    {% else %}
        {{ quantity }} &times; {{ product.name }} ({{ product.price }}&euro;/100gr) = <strong>{{ totalPrice }}&euro;</strong>
    {% endif %}
</div>