{% set quantity = cartProduct.quantity %}
{% set totalPrice = cartProduct.totalPrice %}
{% set product = cartProduct.object %}
<div>
    {% if product.isUnitary %}
        {{ quantity }} &times; {{ product.name }} ({{ product.price }}{{ '&euro;'|raw  }}/ud) = {{ totalPrice }}{{ '&euro;'|raw  }}
    {% else %}
        {{ quantity }} &times; {{ product.name }} ({{ product.price }}{{ '&euro;'|raw  }}/100gr) = {{ totalPrice }}{{ '&euro;'|raw  }}
    {% endif %}
</div>